@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-color: #E4D7C4;
}

body {
  margin: 0;
  height: 100%
  border: solid 2px red;
}

main {
display: grid;
  grid-template-columns: 80% auto;
  gap: 5rem;
}

nav, li {
  display: inline-block;
  padding: 12px 40px;
}

li {
  cursor: pointer;
}

ul {
  gap: 1rem;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5%;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.side-part {
width: 300px;
}

.main-part {
  border-right: solid 2px black;
}

button {
  height: 35px;
  width: 70px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
}

img {
  border-radius: 12px;
}

h1, p {
  font-family: 'Poppins', sans-serif;
}

button:hover {
  color: white;
  background-color: black;
}

.change {
  color: #E4D7C4;
  background-color: black;
}

.change-2 {
  color: #E4D7C4;
}

.change-btn {
  
}